{% extends "base.html" %}
{% load static %}

{% block title %}Thêm truyện{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/truyen_form.css' %}">
{% endblock %}

{% block content %}
<div class="add-story-container">

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% include "doctruyen/truyen_form.html" %}

    {% block truyen_submit %}
      <button type="submit" class="submit-btn">
        Thêm truyện
      </button>
    {% endblock %}

  </form>

</div>

<script src="{% static 'js/themtruyen.js' %}"></script>
{% endblock %}
